# Edge Agent (Raspberry Pi) 환경변수
KAFKA_BROKERS=myhealth-demo.duckdns.org:9094
EC2_API_BASE=https://myhealth-demo.duckdns.org
EDGE_API_KEY=pi-01-initial-key
DEVICE_ID=pi-01
USER_ID=1
MOCK_SENSOR=true
MOCK_FITBIT=true
